.MessageCover {
  display: flex;
  width: 100%;
  height: 100%;
}
.MessageContainer {
  position: relative;
  width: 260px;
  height: 675px;
}
.Search {
  position: relative;
  width: 259px;
  height: 29px;
  background: #fafafa;
  padding: 15px 0;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.SearchInput {
  width: 200px;
  height: 20px;
  border: 1px solid #d5d5d5;
  outline-style: none;
  border-radius: 3px;
  margin-left: 15px;
  background: #e6e6e6;
  text-indent: 30px;
}
.SearchIcon {
  position: absolute;
  top: 17px;
  left: 20px;
}
.SearchIcon .MuiSvgIcon-root {
  font-size: 22px;
  color: #777777;
}
.Add {
  height: 21px;
  margin-left: 8px;
  font-size: 16px;
  line-height: 16px;
}
.Add:active {
  background: #e6e6e6;
  outline: none;
  border-radius: 5px;
}
.AddBox {
  position: absolute;
  top: 50px;
  right: 5px;
  width: 160px;
  height: 60px;
  padding: 10px 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
}
.addHidden {
  display: none;
}
.AddBox::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;
}
.AddBox a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.AddBox a:hover {
  background: #dedfdf;
}
.MessageList {
  width: 259px;
  height: 615px;
  background: #fbfbfb;
  overflow: hidden;
  border-right: 1px solid #dedede;
  overflow-y: auto;
}
.MessageList .ListItem {
  display: inline-block;
  width: 100%;
  height: 76px;
  text-decoration: none;
}
.ListItem:hover {
  background: rgba(206, 206, 206, 0.6);
}
.MessageList .Active {
  background: #cecece;
}
.MessageRoom {
  width: 500px;
  height: 100%;
  background: white;
  color: #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
