.App {
  position: relative;
  width: 830px;
  height: 675px;
  background: #ccc;
  margin: 10px auto;
}

.Container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 400px;
}
.Registered a {
  color: #000;
}
